<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="rxDesktopReportClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="JsonConnection" connectionString="Uri=C:\git.rfxavier\rxWebReport\rxWebReport\frmAgyliti\JaSaude\tableData.json" providerName="JsonSourceProvider" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <rxDesktopReportClient.Properties.Settings>
            <setting name="SelectedFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportBaseUrl" serializeAs="String">
                <value>http://relatorios.agyliti.com.br:9099/frmAgyliti/JaSaude/DownloadSalasTempHR.aspx</value>
            </setting>
            <setting name="JsonFilePath" serializeAs="String">
                <value>C:\git.rfxavier\rxWebReport\rxDesktopReportClient\tableData.json</value>
            </setting>
            <setting name="ReportRunIntervalMinutes" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EnableTimedReportRuns" serializeAs="String">
                <value>True</value>
            </setting>
        </rxDesktopReportClient.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Pkcs" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.3" newVersion="8.0.0.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>