<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="rxDesktopReportClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="JsonConnection" connectionString="Uri=C:\git.rfxavier\rxWebReport\rxWebReport\frmAgyliti\JaSaude\tableData.json"
            providerName="JsonSourceProvider" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <rxDesktopReportClient.Properties.Settings>
            <setting name="SelectedFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportBaseUrl" serializeAs="String">
                <value>http://relatorios.agyliti.com.br:9099/frmAgyliti/JaSaude/DownloadSalasTempHR.aspx</value>
            </setting>
            <setting name="JsonFilePath" serializeAs="String">
                <value>C:\git.rfxavier\rxWebReport\rxDesktopReportClient\tableData.json</value>
            </setting>
            <setting name="ReportRunIntervalMinutes" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EnableTimedReportRuns" serializeAs="String">
                <value>True</value>
            </setting>
        </rxDesktopReportClient.Properties.Settings>
    </userSettings>
</configuration>